<div class="about">
  <div class="container">
    <h2 class="about-title">Коротко о курсе</h2>
    <p class="about-text">
      Если вы ищете творческую современную профессию тогда этот курс для вас. Мы
      научим вас как создавать сайты и мобильные приложение, работать с видео и
      анимацией, рисовать иллюстрации. Вы научитесь работать в 3D: создавать
      персонажей, игровые локации, интерьеры та экстерьеры. Мы поможем освоить
      все необходимые инструменты с нуля.
    </p>
    <div class="about-wrap">
      <img src="./images/play.png" alt="Play video" class="video-img" />
      <img src="./images/arow.png" alt="Arow" class="video-arr" />
      <img
        src="./images/text.png"
        alt="Узнайте как проходит обучение"
        class="video-text"
      />
    </div>
  </div>
</div>
