<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="./index.html" class="header-logo link">
        <svg class="header-logo-icon" width="50" height="50">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav>
        <ul class="header-nav list">
          <li>
            <a href="#" class="header-link link arr">Очное обучение</a>
          </li>
          <li>
            <a href="#" class="header-link link">Online-обучение</a>
          </li>
          <li>
            <a href="#" class="header-link link arr">Наши проекты</a>
          </li>
          <li>
            <a href="#" class="header-link link">Мероприятия</a>
          </li>
          <li>
            <a href="#" class="header-link link arr">Об Академии</a>
          </li>
          <li>
            <a href="#" class="header-link link">Контакты</a>
          </li>
          <li>
            <a href="#" class="header-link link header-accent">Live</a>
          </li>
        </ul>
      </nav>
      <a href="tel:+38(044)5372260" class="header-phone link"
        >+38 (044) 537 22 60</a
      >
      <button type="button" class="mobile-menu-btn js-open-menu">
        <svg width="28" height="28">
          <use href="./images/icons.svg#icon-mob-menu"></use>
        </svg>
      </button>
      <button type="button" class="mobile-menu-btn close js-close-menu">
        <svg width="16" height="16" class="mob-icon">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu js-menu-container">
    <ul class="header-nav mobile list">
      <li>
        <a href="#" class="header-link link arr">Очное обучение</a>
      </li>
      <li>
        <a href="#" class="header-link link">Online-обучение</a>
      </li>
      <li>
        <a href="#" class="header-link link arr">Наши проекты</a>
      </li>
      <li>
        <a href="#" class="header-link link">Мероприятия</a>
      </li>
      <li>
        <a href="#" class="header-link link arr">Об Академии</a>
      </li>
      <li>
        <a href="#" class="header-link link">Контакты</a>
      </li>
      <li>
        <a href="#" class="header-link link header-accent">Live</a>
      </li>
    </ul>
    <a href="tel:+38(044)5372260" class="header-phone link"
      >+38 (044) 537 22 60</a
    >
  </div>
</header>
