<div class="hero">
  <div class="container">
      <div class="hero-wrap">
        <div class="hero-wrap-2">
          <h1 class="title">Компьютерная графика и дизайн</h1>
          <p class="sub-title">Научим зарабативать на своем творчестве</p>
          <button type="button" class="accent-btn">Записаться на курс</button>
        </div>

        <div class="baner">
          <img src="./images/baner/img-1.png" alt="img-1" class="baner-img-1" />
          <img src="./images/baner/img-2.png" alt="img-2" class="baner-img-2" />
          <img src="./images/baner/img-3.png" alt="img-3" class="baner-img-3" />
          <img src="./images/baner/img-4.png" alt="img-4" class="baner-img-4" />
          <img src="./images/baner/men.png" alt="men" class="baner-img-5" />
        </div>
    </div>
  </div>
</div>
