<div class="price">
  <div class="container">
    <h2 class="price-title">Формат занятий и стоимость</h2>
    <div class="price-wrap">
      <h3 class="price-sub-title">Стационар</h3>
      <div class="deskr-wrap">
        <div class="price-deskr">
          <p class="deskr-1">Длительность курса:</p>
          <p class="deskr-2">5 семестров - 2,5 года</p>
        </div>
        <div>
          <p class="deskr-1">График:</p>
          <p class="deskr-2">3 раза в неделю по 2 пары</p>
        </div>
        <div>
          <p class="deskr-1">Возраст:</p>
          <p class="deskr-2">9 - 55 лет</p>
        </div>
        <div>
          <p class="deskr-1">Язык курса:</p>
          <p class="deskr-2">Украинский</p>
        </div>
      </div>
      <div class="price-wrap-3">
        <div class="price-wrap-4">
          <div class="price-wrap-1">
            <p>Оплата частями</p>            
            <p class="money"><span>3920</span>грн/мес</p>
          </div>
          <div class="price-wrap-1">
            <p>Полная оплата</p>
            <p class="money"><span>3053</span>грн/мес</p>
            <p class="deskr-2">При оплате за полный курс: 91 575 грн</p>
          </div>
        </div>
        <div class="btn-wrap">
          <button class="grey-btn">Оставить заявку</button>
          <button class="accent-btn">Заключить договор</button>
        </div>
      </div>
    </div>
    <div class="price-wrap">
      <h3 class="price-sub-title">Полустационар</h3>
      <div class="deskr-wrap">
        <div class="price-deskr">
          <p class="deskr-1">Длительность курса:</p>
          <p class="deskr-2">5 семестров - 2,5 года</p>
        </div>
        <div>
          <p class="deskr-1">График:</p>
          <p class="deskr-2">3 раза в неделю по 2 пары</p>
        </div>
        <div>
          <p class="deskr-1">Возраст:</p>
          <p class="deskr-2">9 - 55 лет</p>
        </div>
        <div>
          <p class="deskr-1">Язык курса:</p>
          <p class="deskr-2">Украинский</p>
        </div>
      </div>
      <div class="price-wrap-3">
        <div class="price-wrap-4">
          <div class="price-wrap-1">
            <p>Оплата частями</p>            
            <p class="money"><span>3920</span>грн/мес</p>
          </div>
          <div class="price-wrap-1">
            <p>Полная оплата</p>
            <p class="money"><span>3053</span>грн/мес</p>
            <p class="deskr-2">При оплате за полный курс: 91 575 грн</p>
          </div>
        </div>
        <div class="btn-wrap">
          <button class="grey-btn">Оставить заявку</button>
          <button class="accent-btn">Заключить договор</button>
        </div>
      </div>
    </div>
  </div>
</div>
