<div>
  <div class="container program">
    <h2 class="program-title">Программа курса</h2>
    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            2D графика и макетирование
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="program-list list">
            <li class="program-item">Графический редактор Adobe Photoshop</li>
            <li class="program-item">Графический редактор Adobe Illustrator</li>
            <li class="program-item">Рисунок</li>
            <li class="program-item">История искусства</li>
            <li class="program-item">Цифровая фотография</li>
            <li class="program-item">Теория дизайна</li>
            <li class="program-item">Корпоративная айдентика и брэндинг</li>
            <li class="program-item">Рекламный дизайн</li>
            <li class="program-item">Типографика</li>
            <li class="program-item">Издательская система Adobe InDesign</li>
            <li class="program-item">Допечатная подготовка</li>
          </ul>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Wев-дисциплины</button>
        </h2>
        <div class="ac-panel">
          <ul class="program-list list">
            <li class="program-item">Графический редактор Adobe Photoshop</li>
            <li class="program-item">Графический редактор Adobe Illustrator</li>
            <li class="program-item">Рисунок</li>
            <li class="program-item">История искусства</li>
            <li class="program-item">Цифровая фотография</li>
            <li class="program-item">Теория дизайна</li>
            <li class="program-item">Корпоративная айдентика и брэндинг</li>
            <li class="program-item">Рекламный дизайн</li>
            <li class="program-item">Типографика</li>
            <li class="program-item">Издательская система Adobe InDesign</li>
            <li class="program-item">Допечатная подготовка</li>
          </ul>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">3D Графика</button>
        </h2>
        <div class="ac-panel">
          <ul class="program-list list">
            <li class="program-item">Графический редактор Adobe Photoshop</li>
            <li class="program-item">Графический редактор Adobe Illustrator</li>
            <li class="program-item">Рисунок</li>
            <li class="program-item">История искусства</li>
            <li class="program-item">Цифровая фотография</li>
            <li class="program-item">Теория дизайна</li>
            <li class="program-item">Корпоративная айдентика и брэндинг</li>
            <li class="program-item">Рекламный дизайн</li>
            <li class="program-item">Типографика</li>
            <li class="program-item">Издательская система Adobe InDesign</li>
            <li class="program-item">Допечатная подготовка</li>
          </ul>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Анимация и видео</button>
        </h2>
        <div class="ac-panel">
          <ul class="program-list list">
            <li class="program-item">Графический редактор Adobe Photoshop</li>
            <li class="program-item">Графический редактор Adobe Illustrator</li>
            <li class="program-item">Рисунок</li>
            <li class="program-item">История искусства</li>
            <li class="program-item">Цифровая фотография</li>
            <li class="program-item">Теория дизайна</li>
            <li class="program-item">Корпоративная айдентика и брэндинг</li>
            <li class="program-item">Рекламный дизайн</li>
            <li class="program-item">Типографика</li>
            <li class="program-item">Издательская система Adobe InDesign</li>
            <li class="program-item">Допечатная подготовка</li>
          </ul>
        </div>
      </div>
    </div>
    <button type="button" class="accent-btn program-btn">
      Скачать детальную программу
    </button>
  </div>
</div>
