<div class="study">
  <div class="container">
    <h2 class="study-title">Как проходит обучение</h2>
    <ul class="study-list list">
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-1"></use>
        </svg>
        <h3 class="study-sub-title">Комфортные аудитории</h3>
        <p class="study-text">
          У нас много комфортных аудиторий, конференс залов и лабораторий. У вас
          будете лычное рабочее место с персональным компьютером.
        </p>
      </li>
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-2"></use>
        </svg>
        <h3 class="study-sub-title">Современое оборудование</h3>
        <p class="study-text">
          Наши партнеры: Cisko, Microsoft, Avtodesk, мировые лидеры в сфере IT.
          У вас будет все необходимое оборудование и софт.
        </p>
      </li>
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-3"></use>
        </svg>
        <h3 class="study-sub-title">Робота с преподавателями</h3>
        <p class="study-text">
          Наши преподаватели практикующие дизайнеры. На каждом занятие Вы вместе
          будете разбирать темы, выполнять задания, разбирать реальные кейсы и
          проекты.
        </p>
      </li>
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-4"></use>
        </svg>
        <h3 class="study-sub-title">Лекции, вебинары и воркшопы</h3>
        <p class="study-text">
          Мы часто приглашаем известных экспертов из индустрии которые делаться
          полезными знаниями и секретами своей работы.
        </p>
      </li>
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-5"></use>
        </svg>
        <h3 class="study-sub-title">Робота с реальними проектами</h3>
        <p class="study-text">
          У вас будет возможность разобраться и поработать над реальными
          проектами еще на этапе обучения.
        </p>
      </li>
      <li class="study-item">
        <svg width="85" height="75" class="study-icon">
          <use href="./images/icons.svg#icon-study-6"></use>
        </svg>
        <h3 class="study-sub-title">Формирование портфолио</h3>
        <p class="study-text">
          За период обучение вы соберёте свое портфолио из выполненных заданий,
          курсовых и дипломных проектов.
        </p>
      </li>
    </ul>
  </div>
</div>
