<div class="team">
  <div class="container">
    <h2 class="team-title">Наша команда - наша сила</h2>
    <p class="team-text">
      Все наши преподаватели – профессионалы своего дела, и каждый из них –
      практикующий специалист, который досконально знает предмет и постоянно
      работает над повышением уровня квалификации. Если Ваша цель – получить
      актуальные и разносторонние знания и навыки по предмету – можете быть
      уверены, что нашим преподавателям в этом нет равных. Они обожают
      нестандартные и каверзные вопросы, сложные задачи и не боятся творческих и
      любознательных студентов.
    </p>
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="image-1"
            src="./images/team/team-6.png"
            alt="Team photo"
            width="305"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="image"
            src="./images/team/team-3.png"
            alt="Team photo"
            width="305"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="image"
            src="./images/team/team-1.png"
            alt="Team photo"
            width="305"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="image"
            src="./images/team/team-4.png"
            alt="Team photo"
            width="305"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="image"
            src="./images/team/team-2.png"
            alt="Team photo"
            width="305"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="image"
            src="./images/team/team-5.png"
            alt="Team photo"
            width="305"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="team-wrap">
      <div class="team-wrap-1">
        <img
          class="image-1"
          srcset="./images/team/team-6.png 2x"
          src="./images/team/team-6.png"
          alt="Team photo"
          width="635"
        />
        <img
          class="image"
          srcset="./images/team/team-3.png 2x"
          src="./images/team/team-3.png"
          alt="Team photo"
          width="305"
        />
        <img
          class="image"
          srcset="./images/team/team-1.png 2x"
          src="./images/team/team-1.png"
          alt="Team photo"
          width="305"
        />
      </div>
      <div class="team-wrap-1">
        <img
          class="image"
          srcset="./images/team/team-4.png 2x"
          src="./images/team/team-4.png"
          alt="Team photo"
          width="305"
        />
        <img
          class="image"
          srcset="./images/team/team-2.png 2x"
          src="./images/team/team-2.png"
          alt="Team photo"
          width="305"
        />
        <img
          class="image"
          srcset="./images/team/team-5.png 2x"
          src="./images/team/team-5.png"
          alt="Team photo"
          width="635"
        />
      </div>
    </div>
  </div>
</div>
